<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Tasks</h1>

    <form action="/" method="get">
        <button href="#" role="button"> Back to Home page</button>
    </form>

    <% if (tasks.length > 0) { %>
        <% for (let i = 0; i < tasks.length; i++) { %>
            <p><%= tasks[i].id %></p>
            <p><%= tasks[i].fname %> <%= tasks[i].lname %></p>
            <p><%= tasks[i].description %></p>
            <p><%= tasks[i].startdate %></p>
            <p><%= tasks[i].enddate %></p>
            <p><%= tasks[i].urgency %></p>
            <p><%= tasks[i].created_at %></p>
            <hr>
        <% } %>
    <% } else { %>
        <p>No tasks were found</p>
    <% } %>

</body>
</html>